.example-header {
    display: flex;
    align-items: center;
    padding: 0.5em;
}

.example-header-label {
    flex: 1;
    height: 1em;
    font-weight: 500;
    text-align: center;
}

.example-double-arrow .mat-icon {
    margin: -22%;
}

.cdk-overlay-pane.my-dialog {
    position: relative !important;
}
.close.mat-button {
    padding: 5px;
    line-height: 14px;
    min-width: auto;
    float: right;
    font-size: 25px;
}
