button.close(mat-button, (click)="onClose()") X
h2(mat-dialog-title) Nuevo Estudiante
mat-dialog-content.mat-typography
    table.example-container
        tr
            td
                mat-form-field.example-full-width
                    mat-label Nombres *
                    input(matInput, placeholder="Ingresar nombre", [(ngModel)]="estudiante.nom_persona")
            td
                mat-form-field.example-full-width
                    mat-label Apellido Paterno *
                    input(matInput, placeholder="Ingresar ape. paterno", [(ngModel)]="estudiante.ape_pate_pers")
        tr
            td
                mat-form-field.example-full-width
                    mat-label Apellido Materno *
                    input(matInput, placeholder="Ingresar ape. materno", [(ngModel)]="estudiante.ape_mate_pers")
            td
                mat-form-field.example-full-width
                    mat-label Grado
                    mat-select([(ngModel)]="estudiante.id_grado", )
                        mat-option([value]="grado.id_grado", *ngFor="let grado of grados") {{grado.desc_grado + ' - ' + grado.nivel}}
        tr
            td
                mat-form-field(appearance="fill")
                    mat-label Custom calendar header
                    input(matInput, [matDatepicker]="picker", [(ngModel)]="estudiante.fecha_naci", (dateChange)="calcularEdad()", disabled)
                    mat-datepicker-toggle(matSuffix, [for]="picker")
                    mat-datepicker(#picker, disabled="false")
            td
                mat-form-field.example-full-width
                    mat-label Edad
                    input(matInput, disabled, [value]="miEdad")
        tr
            td(colspan="2")
                input(accept="image/png", (change)="subirImagen($event)" type="file")

mat-dialog-actions(align="end")
    button(mat-raised-button, color="primary", cdkFocusInitial, (click)="crear()") AGREGAR