
<button class="close" mat-button="mat-button" (click)="onClose()">X</button>
<h2 mat-dialog-title="mat-dialog-title">Nuevo Estudiante</h2>
<mat-dialog-content class="mat-typography">
  <table class="example-container">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Nombres *</mat-label>
          <input matInput="matInput" placeholder="Ingresar nombre" [(ngModel)]="estudiante.nom_persona"/>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Apellido Paterno *</mat-label>
          <input matInput="matInput" placeholder="Ingresar ape. paterno" [(ngModel)]="estudiante.ape_pate_pers"/>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Apellido Materno *</mat-label>
          <input matInput="matInput" placeholder="Ingresar ape. materno" [(ngModel)]="estudiante.ape_mate_pers"/>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Grado</mat-label>
          <mat-select [(ngModel)]="estudiante.id_grado">
            <mat-option [value]="grado.id_grado" *ngFor="let grado of grados">{{grado.desc_grado + ' - ' + grado.nivel}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field appearance="fill">
          <mat-label>Custom calendar header</mat-label>
          <input matInput="matInput" [matDatepicker]="picker" [(ngModel)]="estudiante.fecha_naci" (dateChange)="calcularEdad()" disabled="disabled"/>
          <mat-datepicker-toggle matSuffix="matSuffix" [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker="#picker" disabled="false"></mat-datepicker>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Edad</mat-label>
          <input matInput="matInput" disabled="disabled" [value]="miEdad"/>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input accept="image/png" (change)="subirImagen($event)" type="file"/>
      </td>
    </tr>
  </table>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button="mat-raised-button" color="primary" cdkFocusInitial="cdkFocusInitial" (click)="crear()">AGREGAR</button>
</mat-dialog-actions>