button.close(mat-button, (click)="onClose()") X
mat-dialog-content.mat-typography
    table(mat-table, [dataSource]="dataSource")
        ng-container(matColumnDef="pension")
            th(mat-header-cell, *matHeaderCellDef) Pension
            td(mat-cell, *matCellDef="let row") {{row.__pension}}
        ng-container(matColumnDef="fecha_venc")
            th(mat-header-cell, *matHeaderCellDef) Fecha de vencimiento
            td(mat-cell, *matCellDef="let row") {{setFechaVenc(row.__fecha_venci)}}
        ng-container(matColumnDef="monto")
            th(mat-header-cell, *matHeaderCellDef) Monto
            td(mat-cell, *matCellDef="let row") {{row.monto}}
        tr(mat-header-row, *matHeaderRowDef="displayedColumns")
        tr(mat-row, *matRowDef="let row; columns: displayedColumns")
    mat-paginator([pageSizeOptions]="[5, 10, 25, 100]")

mat-dialog-actions(align="end")
    button(mat-raised-button, color="warn", (click)="(btnAction == 'PAGAR') ? onSavePagar() : onSaveAnular()") {{btnAction}}
