
<button class="close" mat-button="mat-button" (click)="onClose()">X</button>
<mat-dialog-content class="mat-typography">
  <table mat-table="mat-table" [dataSource]="dataSource">
    <ng-container matColumnDef="pension">
      <th mat-header-cell="mat-header-cell" *matHeaderCellDef="*matHeaderCellDef">Pension</th>
      <td mat-cell="mat-cell" *matCellDef="let row">{{row.__pension}}</td>
    </ng-container>
    <ng-container matColumnDef="fecha_venc">
      <th mat-header-cell="mat-header-cell" *matHeaderCellDef="*matHeaderCellDef">Fecha de vencimiento</th>
      <td mat-cell="mat-cell" *matCellDef="let row">{{setFechaVenc(row.__fecha_venci)}}</td>
    </ng-container>
    <ng-container matColumnDef="monto">
      <th mat-header-cell="mat-header-cell" *matHeaderCellDef="*matHeaderCellDef">Monto</th>
      <td mat-cell="mat-cell" *matCellDef="let row">{{row.monto}}</td>
    </ng-container>
    <tr mat-header-row="mat-header-row" *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row="mat-row" *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button="mat-raised-button" color="warn" (click)="(btnAction == 'PAGAR') ? onSavePagar() : onSaveAnular()">{{btnAction}}</button>
</mat-dialog-actions>