.mat-elevation-z8
    table(mat-table, [dataSource]="dataSource")
        ng-container(matColumnDef="serie")
            th(mat-header-cell, *matHeaderCellDef) Serie-Nro Documento
            td(mat-cell, *matCellDef="let row") {{row.nro_serie +'-'+row.nro_documento}}
        ng-container(matColumnDef="fecha_reg")
            th(mat-header-cell, *matHeaderCellDef) Fecha de registro
            td(mat-cell, *matCellDef="let row") {{getFecha(row.fecha_emision)}}
        ng-container(matColumnDef="estudiante")
            th(mat-header-cell, *matHeaderCellDef) Estudiante
            td(mat-cell, *matCellDef="let row") {{row.jsonb_info.nombres}}
        ng-container(matColumnDef="monto")
            th(mat-header-cell, *matHeaderCellDef) Monto
            td(mat-cell, *matCellDef="let row") {{row.jsonb_info.monto_total}}
        ng-container(matColumnDef="pdf")
            th(mat-header-cell, *matHeaderCellDef) PDF
            td(mat-cell, *matCellDef="let row")
                button(mat-raised-button, color="primary", (click)="openDialogPDF(row)") PDF
        tr(mat-header-row, *matHeaderRowDef="displayedColumns")
        tr(mat-row, *matRowDef="let row; columns: displayedColumns")
    mat-paginator([pageSizeOptions]="[5, 10, 25, 100]")