
<div class="mat-elevation-z8">
  <table mat-table="mat-table" [dataSource]="dataSource">
    <ng-container matColumnDef="serie">
      <th mat-header-cell="mat-header-cell" *matHeaderCellDef="*matHeaderCellDef">Serie-Nro Documento</th>
      <td mat-cell="mat-cell" *matCellDef="let row">{{row.nro_serie +'-'+row.nro_documento}}</td>
    </ng-container>
    <ng-container matColumnDef="fecha_reg">
      <th mat-header-cell="mat-header-cell" *matHeaderCellDef="*matHeaderCellDef">Fecha de registro</th>
      <td mat-cell="mat-cell" *matCellDef="let row">{{getFecha(row.fecha_emision)}}</td>
    </ng-container>
    <ng-container matColumnDef="estudiante">
      <th mat-header-cell="mat-header-cell" *matHeaderCellDef="*matHeaderCellDef">Estudiante</th>
      <td mat-cell="mat-cell" *matCellDef="let row">{{row.jsonb_info.nombres}}</td>
    </ng-container>
    <ng-container matColumnDef="monto">
      <th mat-header-cell="mat-header-cell" *matHeaderCellDef="*matHeaderCellDef">Monto</th>
      <td mat-cell="mat-cell" *matCellDef="let row">{{row.jsonb_info.monto_total}}</td>
    </ng-container>
    <ng-container matColumnDef="pdf">
      <th mat-header-cell="mat-header-cell" *matHeaderCellDef="*matHeaderCellDef">PDF</th>
      <td mat-cell="mat-cell" *matCellDef="let row">
        <button mat-raised-button="mat-raised-button" color="primary" (click)="openDialogPDF(row)">PDF</button>
      </td>
    </ng-container>
    <tr mat-header-row="mat-header-row" *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row="mat-row" *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>