
<mat-grid-list class="px-20" cols="1" rowHeight="40px">
  <mat-grid-tile [colspan]="1" [rowspan]="1"> 
    <mat-grid-tile-header class="header">Reporte</mat-grid-tile-header>
  </mat-grid-tile>
</mat-grid-list>
<app-listado-reportes></app-listado-reportes>