table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.buttons {
    padding: 10px 0 0 0;
    display: flex;
    flex-direction: row-reverse;
}

button {
    margin-right: 10px;
}
