
<div class="mat-elevation-z8">
  <div class="buttons">
    <button mat-raised-button="mat-raised-button" [disabled]="btnPagar" (click)="openDialog('PAGAR')">Pagar</button>
    <button mat-raised-button="mat-raised-button" [disabled]="btnAnular" (click)="openDialog('ANULAR')">Anular</button>
  </div>
  <table mat-table="mat-table" [dataSource]="dataSource">
    <ng-container matColumnDef="status">
      <th mat-header-cell="mat-header-cell" *matHeaderCellDef="*matHeaderCellDef">#</th>
      <td mat-cell="mat-cell" *matCellDef="let row; let i = index">
        <mat-checkbox color="primary" [checked]="checkBoxGroup[i].checked" [disabled]="checkBoxGroup[i].disabled" (change)="onChangeCheckBox(i, $event)"></mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="pension">
      <th mat-header-cell="mat-header-cell" *matHeaderCellDef="*matHeaderCellDef">Pension</th>
      <td mat-cell="mat-cell" *matCellDef="let row">{{row.__pension}}</td>
    </ng-container>
    <ng-container matColumnDef="monto">
      <th mat-header-cell="mat-header-cell" *matHeaderCellDef="*matHeaderCellDef">Monto</th>
      <td mat-cell="mat-cell" *matCellDef="let row">{{row.monto}}</td>
    </ng-container>
    <ng-container matColumnDef="estado">
      <th mat-header-cell="mat-header-cell" *matHeaderCellDef="*matHeaderCellDef">Estado</th>
      <td mat-cell="mat-cell" *matCellDef="let row">{{row.estado}}</td>
    </ng-container>
    <tr mat-header-row="mat-header-row" *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row="mat-row" *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>