.mat-elevation-z8
    .buttons
        button(mat-raised-button,  [disabled]="btnPagar", (click)="openDialog('PAGAR')") Pagar
        button(mat-raised-button, [disabled]="btnAnular", (click)="openDialog('ANULAR')") Anular
    table(mat-table, [dataSource]="dataSource")
        ng-container(matColumnDef="status")
            th(mat-header-cell, *matHeaderCellDef) #
            td(mat-cell, *matCellDef="let row; let i = index")
                mat-checkbox(color="primary", [checked]="checkBoxGroup[i].checked", [disabled]="checkBoxGroup[i].disabled", (change)="onChangeCheckBox(i, $event)")
        ng-container(matColumnDef="pension")
            th(mat-header-cell, *matHeaderCellDef) Pension
            td(mat-cell, *matCellDef="let row") {{row.__pension}}
        ng-container(matColumnDef="monto")
            th(mat-header-cell, *matHeaderCellDef) Monto
            td(mat-cell, *matCellDef="let row") {{row.monto}}
        ng-container(matColumnDef="estado")
            th(mat-header-cell, *matHeaderCellDef) Estado
            td(mat-cell, *matCellDef="let row") {{row.estado}}
        tr(mat-header-row, *matHeaderRowDef="displayedColumns")
        tr(mat-row, *matRowDef="let row; columns: displayedColumns")