
<mat-grid-list class="px-20" cols="1" rowHeight="40px">
  <mat-grid-tile [colspan]="1" [rowspan]="1"> 
    <mat-grid-tile-header class="header">Pagos</mat-grid-tile-header>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="2"> 
    <mat-grid-tile-header class="button">
      <button mat-raised-button="mat-raised-button" color="primary" (click)="openDialog()">Nuevo</button>
    </mat-grid-tile-header>
  </mat-grid-tile>
</mat-grid-list>
<app-listado-pagos></app-listado-pagos>