mat-grid-list(cols="1" rowHeight="40px").px-20
    mat-grid-tile([colspan]="1", [rowspan]="1") 
        mat-grid-tile-header.header Pagos
    mat-grid-tile([colspan]="1", [rowspan]="2") 
        mat-grid-tile-header.button
            button(mat-raised-button color="primary", (click)="openDialog()") Nuevo

app-listado-pagos