
<mat-tab-group mat-align-tabs="center" [(selectedIndex)]="selectedIndex">
  <mat-tab label="Estudiantes"> 
    <div class="component-box border">
      <app-buscador-estudiantes></app-buscador-estudiantes>
    </div>
  </mat-tab>
  <mat-tab label="Pagos">
    <div class="component-box">
      <app-pagos></app-pagos>
    </div>
  </mat-tab>
  <mat-tab label="Reportes">
    <div class="component-box">
      <app-reportes></app-reportes>
    </div>
  </mat-tab>
</mat-tab-group>