mat-tab-group(mat-align-tabs="center", [(selectedIndex)]="selectedIndex")
  mat-tab(label="Estudiantes") 
    div(class="component-box border")
      app-buscador-estudiantes
  mat-tab(label="Pagos")
    div(class="component-box")
      app-pagos
  mat-tab(label="Reportes")
    div(class="component-box")
      app-reportes