mat-grid-list(cols="3" rowHeight="50px").px-20
    mat-grid-tile([colspan]="2", [rowspan]="1") 
        mat-grid-tile-header.header Estudiantes
    mat-grid-tile([colspan]="1", [rowspan]="2") 
        mat-grid-tile-header.button
            button(mat-raised-button color="primary", (click)="openDialog()") Nuevo
    mat-grid-tile([colspan]="2", [rowspan]="1")
        mat-grid-tile-header
            mat-form-field.full-width
                input( matInput,  (keyup)="appyFilter($event.target.value)" placeholder="Buscar")
                mat-icon(matSuffix) search

app-listado-estudiantes