
<mat-grid-list class="px-20" cols="3" rowHeight="50px">
  <mat-grid-tile [colspan]="2" [rowspan]="1"> 
    <mat-grid-tile-header class="header">Estudiantes</mat-grid-tile-header>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="2"> 
    <mat-grid-tile-header class="button">
      <button mat-raised-button="mat-raised-button" color="primary" (click)="openDialog()">Nuevo</button>
    </mat-grid-tile-header>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <mat-grid-tile-header>
      <mat-form-field class="full-width">
        <input matInput="matInput" (keyup)="appyFilter($event.target.value)" placeholder="Buscar"/>
        <mat-icon matSuffix="matSuffix">search</mat-icon>
      </mat-form-field>
    </mat-grid-tile-header>
  </mat-grid-tile>
</mat-grid-list>
<app-listado-estudiantes></app-listado-estudiantes>