mat-grid-tile-header {
    background: none !important;
    color: black !important;
}

.header {
    font-size: 20px;
}

mat-form-field {
    margin-top: 10px !important;
}

.full-width {
    min-width: 95%;
    margin-top: 25px;
}

.px-20 {
    padding: 0 20px;
}

.button {
    margin-top: 20px;
}