.divider
mat-grid-list(cols="8" )
    mat-grid-tile([colspan]="2", [rowspan]="3", *ngFor="let estudiante of estudiantes") 
        mat-card.example-card
            img(mat-card-image [src]="'http://127.0.0.1:3000/public/imgs/'+estudiante.foto_ruta" alt="No hay foto >:D")
            mat-card-content
                h2.center {{darNombre(estudiante)}}
                p.center {{mostrarEdad(estudiante.fecha_naci)}}
                p.center {{mostrarGrado(estudiante.id_grado)}}
            mat-card-actions.btn-center
                button(mat-raised-button, color="warn", (click)="deleteEstudiante(estudiante)") Borrar
                     mat-icon(matSuffix) delete