
<div class="divider"></div>
<mat-grid-list cols="8">
  <mat-grid-tile [colspan]="2" [rowspan]="3" *ngFor="let estudiante of estudiantes"> 
    <mat-card class="example-card"><img mat-card-image="mat-card-image" [src]="'http://127.0.0.1:3000/public/imgs/'+estudiante.foto_ruta" alt="No hay foto &gt;:D"/>
      <mat-card-content>
        <h2 class="center">{{darNombre(estudiante)}}</h2>
        <p class="center">{{mostrarEdad(estudiante.fecha_naci)}}</p>
        <p class="center">{{mostrarGrado(estudiante.id_grado)}}</p>
      </mat-card-content>
      <mat-card-actions class="btn-center">
        <button mat-raised-button="mat-raised-button" color="warn" (click)="deleteEstudiante(estudiante)">Borrar
          <mat-icon matSuffix="matSuffix">delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>