.example-card {
  max-width: 250px;
  margin-bottom: 50px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.divider {
  height: 1px;
  background: black;
  margin: 20px 0 15px 0;
}

.center {
  text-align: center;
}

.btn-center {
  display: flex;
  justify-content: center;
}