.cdk-overlay-pane.my-dialog {
    position: relative !important;
}

.close.mat-button {
    padding: 2px;
    line-height: 5px;
    min-width: auto;
    float: right;
    font-size: 15px;
}

#iframeContainer {
    width: 100%;
    margin-top: 20px;
    height: 83vh;
}
