
<button class="close" mat-button="mat-button" (click)="onClose()">X</button>
<mat-dialog-content class="mat-typography">
  <mat-form-field>
    <mat-label>Buscar</mat-label>
    <input matInput="matInput" (keyup)="applyFilter($event.target.value)" placeholder="Buscar alumnos"/>
  </mat-form-field>
  <table mat-table="mat-table" [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell="mat-header-cell" *matHeaderCellDef="*matHeaderCellDef">ID</th>
      <td mat-cell="mat-cell" *matCellDef="let row">{{row.id_persona}}</td>
    </ng-container>
    <ng-container matColumnDef="nombre">
      <th mat-header-cell="mat-header-cell" *matHeaderCellDef="*matHeaderCellDef">Nombres</th>
      <td mat-cell="mat-cell" *matCellDef="let row">{{row.nom_persona}}</td>
    </ng-container>
    <ng-container matColumnDef="grado">
      <th mat-header-cell="mat-header-cell" *matHeaderCellDef="*matHeaderCellDef">Grado</th>
      <td mat-cell="mat-cell" *matCellDef="let row">{{mostrarGrado(row.id_grado)}}</td>
    </ng-container>
    <ng-container matColumnDef="estado">
      <th mat-header-cell="mat-header-cell" *matHeaderCellDef="*matHeaderCellDef">#</th>
      <td mat-cell="mat-cell" *matCellDef="let row">
         <mat-radio-button (change)="getRow(row)"></mat-radio-button></td>
    </ng-container>
    <tr mat-header-row="mat-header-row" *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row="mat-row" *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button="mat-raised-button" color="primary" cdkFocusInitial="cdkFocusInitial" (click)="onSave()">Aceptar</button>
</mat-dialog-actions>