button.close(mat-button, (click)="onClose()") X
mat-dialog-content.mat-typography
    mat-form-field
        mat-label Buscar
        input(matInput, (keyup)="applyFilter($event.target.value)" placeholder="Buscar alumnos")
    table(mat-table, [dataSource]="dataSource")
        ng-container(matColumnDef="id")
            th(mat-header-cell, *matHeaderCellDef) ID
            td(mat-cell, *matCellDef="let row") {{row.id_persona}}
        ng-container(matColumnDef="nombre")
            th(mat-header-cell, *matHeaderCellDef) Nombres
            td(mat-cell, *matCellDef="let row") {{row.nom_persona}}
        ng-container(matColumnDef="grado")
            th(mat-header-cell, *matHeaderCellDef) Grado
            td(mat-cell, *matCellDef="let row") {{mostrarGrado(row.id_grado)}}
        ng-container(matColumnDef="estado")
            th(mat-header-cell, *matHeaderCellDef) #
            td(mat-cell, *matCellDef="let row") 
                <mat-radio-button (change)="getRow(row)"></mat-radio-button>
        tr(mat-header-row, *matHeaderRowDef="displayedColumns")
        tr(mat-row, *matRowDef="let row; columns: displayedColumns")
    mat-paginator([pageSizeOptions]="[5, 10, 25, 100]")

mat-dialog-actions(align="end")
    button(mat-raised-button, color="primary", cdkFocusInitial, (click)="onSave()") Aceptar
