table {
    width: 100%;
}

.cdk-overlay-pane.my-dialog {
    position: relative !important;
}

.close.mat-button {
    padding: 2px;
    line-height: 5px;
    min-width: auto;
    float: right;
    font-size: 15px;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}
